.modulation-controls-container{
  position: relative;
}

.toggle-modulation-menu{
  position: absolute;
  top: 1rem;
  left:1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: left 0.5s ease;
}

.wave-icon {
  margin: 1rem;
  transition: transform 0.5s ease;
}
.wave-icon.expanded {
  transform: translateX(80vw);
}


.modulation-controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  z-index:2;
  visibility: hidden;
}


.modButton {
  width: calc(10vw);
  padding: 1rem;
  flex-direction: row;
  border-radius: 1rem;
  cursor: pointer;
}

.mainModButton{
  width: calc(20vw - 20px);
}

.modButton.active {
  background-color: green;
  color: white;
}

.modButton.inactive {
  background-color:hsla(344, 13%, 74%, 0.384);
  color: black;
}

.readout{
  align-self: center;
  color: #33ff33;
  height: 2rem;
  background-color: #64636390;
  padding: 1rem;
  border-radius: 1rem;
  
  }