.modulation-controls-container{
  position: relative;
  z-index: 3;

}

.toggle-modulation-menu{
  position: absolute;
  top:  -2rem;
  left: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.wave-icon {
  margin: 0;
  transition: transform 0.3s ease;
}
.wave-icon.expanded {
  transform: scaleY(2);
  transition: 0.3s ease;
  opacity: 0.8;
}


.modulation-controls {
  display: flex;
  margin: 0 0;
  flex-direction: row;
  position: absolute;
  gap:  0 .25rem;
  padding: 1rem 4rem;
  visibility: hidden;
  z-index: 0;
}
.modulation-controls.visible{
  left:0;

}

.modButton {
  width: calc(10vw);
  flex-direction: row;
  border-radius: 1rem;
  cursor: pointer;
  z-index: 0;

}

.mainModButton{
  width: calc(20vw - 20px);
  z-index: 0;

}

.modButton.active {
  background-color: green;
  color: white;
  z-index: 0;

}

.modButton.inactive {
  background-color:hsla(344, 13%, 74%, 0.384);
  color: black;
  z-index: 0;

}

.readout{
  align-self: center;
  width: 4rem;
  color: #33ff33;
  height: 2rem;
  background-color: #64636390;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 0;
  
  }