.wave-background {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 0;
  pointer-events: none; /* allow clicks to pass through */
}

.wave-canvas {
  display: block;
  width: 100%;
  height: 125%;
}
