body {
    margin: 0;
    background-color: hsla(344, 13%, 74%, 0.3046);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main {
    padding: 1.5rem;
    margin: 2rem auto;
    max-width: 90vw;
    min-height: 60vh;
    border-radius: 3rem;
    /* background: linear-gradient(
    to top right, 
    hsla(235, 17%, 0.1) 0%, 
    hsla(265, 1%, 0.19) 67%); */
    position: relative;
    z-index: 1;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 0rem 3rem;
    margin: 0 1rem;
    border: 1px outset hsl(33, 100%, 88%, 0.3);
    border-radius: 3rem;
    background: linear-gradient(110deg,
            hsla(145, 10%, 80%, 0.175) 37%,
            hsla(235, 12%, 60%, 0.085)) 0%;
    z-index: 1;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    align-items: flex-start;
    grid-template-areas: "controls main spacer";
}

.controls-column {
    position: sticky;
    top: 1.5rem;
    grid-area: controls;
}

.main-column {
    max-width: 24vw;
    justify-self: center;
    grid-area: main;
}

.spacer-column {
    grid-area: spacer;
}

.wave-container {
    position: absolute;
    width: 101%;
    height: 0%;
    z-index: 1;
}

.wave {
    left: 0;
    z-index: 1;
}

a {
    text-decoration: none;
}

.svglink {
    padding: auto 1rem;
    margin: 1rem;
}

.svglink img {
    width: 50px;
    height: 50px;
}

p.text {
    margin: 20vh 1rem 0vh 1rem;
    padding: 1rem 0 0rem 0;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 5vh 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.33vw;
    font-weight: 800;
}

h2 {
    margin: 1rem 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    font-weight: 500;
}

.nav {
    list-style: none;
}

.name {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 700px) {
    .content-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "main" "controls";
    }

    h1 {
        margin: 0;
        padding: 0.1vw;
        font-family: 'Courier New', Courier, monospace;
        font-size: 6vw;
        transition: 0.15s ease;
        font-weight: 700;
    }

    h2 {
        margin: 1.5rem 0;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4vw;
        font-weight: 500;
    }

    .page-content {
        min-height: 60vh;
        min-width: 18vw;
        padding: 2rem auto;
        margin: 0rem;
        border: 1px outset hsl(33, 100%, 88%, 0.3046);
        border-radius: 3rem;
        background: linear-gradient(110deg,
                hsla(145, 10%, 80%, 0.175) 37%,
                hsla(235, 12%, 60%, 0.08046)) 0%;
        z-index: 1;
    }


    .controls-column {
        position: static;
    }

    .main-column {
        max-width: 25vw;
        max-height: 40vh;
        min-width: 24vw;
        justify-self: center;
        grid-area: main;
    }

    .svglink {
        padding: 1rem;
        margin: 0 1rem;
    }

    .svglink img {
        width: 40px;
        height: 40px;
    }

    p.text {
        margin: 6vh 1rem 0vh 1rem;
        padding: 1rem 0 0rem 0;
        text-align: center;

    }
}