body{
  margin: 0;
  background-color:hsla(344, 17%, 74%, 0.384);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align:center;
}

h1{
  margin: 0rem;
  margin-bottom: .5rem;
}