body{
  margin: 0;
  background-color:hsla(344, 17%, 74%, 0.384);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  margin: 3rem;
  min-height: 80vh;
  text-align:center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  width: 50vw;
  height: 60vh;
  border-radius: 5rem;
  background-color:hsla(344, 17%, 74%, 0.1);
}

h1{
  margin: 0rem;
  padding: 1rem;
  margin-bottom: .5rem;
  background-color: hsla(72, 89%, 75%, 0.8);
  border-radius: 1.5rem;
}

a{
  display: flex;
  justify-content:space-between;
  background-color: #f44336;
  color: white;
  margin: 6rem 5rem 0rem 5rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3rem;

}


.textBox{

  padding: 3rem 4rem;
  margin: 3rem 2rem 1rem 2rem;
  border-radius: 1.5rem;
  background-color: hsl(157, 42%, 58%, 0.2);
}

.nav{
  list-style: none;
  text-align: center;
}