body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: hsla(344, 13%, 74%, 0.3);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
